.stars {
  display: flex;
  width: 96px;

  &__star {
    height: 16px;
    width: 16px;

    background-image: url(/src/images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }

  &[data-rating='1'] &__star:nth-child(-n + 1),
  &[data-rating='2'] &__star:nth-child(-n + 2),
  &[data-rating='3'] &__star:nth-child(-n + 3),
  &[data-rating='4'] &__star:nth-child(-n + 4),
  &[data-rating='5'] &__star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
