@use './utils/mixins' as *;
@use './utils/variables' as *;
@use './blocks/card';
@use './blocks/rewiew-stars';

*,
*::before,
::after {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;

  @include page-standart-font;
}
