@use './variables' as *;

@mixin page-standart-font($weight: 400) {
  font-family: Roboto, sans-serif;
  font-weight: $weight;
  font-size: $page-standart-font-size;
  line-height: 14px;
  letter-spacing: 0;
  color: #060b35;
}
