$card-width: 200px;
$color-white: #fff;
$color-blue: #00acdc;
$color-grey: #616070;
$page-standart-font-size: 10px;
$card-desription-info-font-size: 12px;
$card-price-title-font-size: 12px;
$card-price-price-font-size: 16px;
$card-button-font-size: 14px;
$card-border-radius: 5px;
$card-button-border: 1px;
$card-border: 1px solid #f3f3f3;
$button-border: 1px solid $color-blue;
