$page-standart-font-size: 10px;
$color-white: #fff;
$color-blue: #00acdc;
$color-grey: #616070;
$card-width: 200px;
$card-padding: 32px 16px 16px;
$card-border: 1px solid #f3f3f3;
$card-border-radius: 5px;
$image-widh: 160px;
$image-height: 134px;
$info-margin-t: 40px;
$info-size: 12px;
$info-weight: 500;
$info-line-height: 18px;
$code-width: 98px;
$code-height: 14px;
$code-margin: 4px;
$review-margin-top: 16px;
$stars-width: 96px;
$star-size: 16px;
$star-gap: 4px;
$pricing-height: 18px;
$pricing-margin: 24px;
$price-size: 12px;
$price-val-weight: 700;
$price-val-size: 16px;
$buttton-width: 100%;
$button-height: 40px;
$button-radius: 5px;
$button-margin: 16px;
$button-weight: 700;
$button-line-height: 16px;
$button-f-size: 14px;
$button-border: 1px;
$button-border: 1px solid $color-blue;
